<div class="description">
  <h1><%= @restaurant.name %></h1>
  <%= @restaurant.address %> ||
  <%= @restaurant.phone_number %>
  <%= link_to "back", restaurants_path  %>
</div>


<h2>Customer's review</h2>
<%= link_to "Add a review", new_restaurant_review_path(@restaurant) %> <hr>
<%= simple_form_for [@restaurant, @review] do |f| %>
  <%= f.input :content %>
  <%= f.input :rating, placeholder:"Rate from 0 to 5" %>
  <%= f.button :submit, class: "btn btn-primary"%>
<% end %>
<% @restaurant.reviews.each do |review| %>
  <%= review.content %> | <% review.rating.to_i.times do  %>
 <span class="glyphicon glyphicon-star"></span>
<% end %><% review.blank_stars.times do %>
 <span class="glyphicon glyphicon-star-empty"></span>
<% end %>
  <hr>
<% end  %>
